/* Div principal */
.list-books {
  grid-column: 1 / 9;
  grid-row: 3 / 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0.6rem;
  gap: 0.5rem;
}
/* Div principal */

/* Tabla de libros */
.book-table {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
}
.book-table thead {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.book-table tbody {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
/* Tabla de libros */

/* Etiqueta de cada libro */
.book-card {
  width: 100%;
  height: 5.2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(232, 247, 242, 0.7);
}
.book-card td {
  width: 25%;
  font-size: 0.9rem;
  font-family: "Roboto Mono", monospace;
  padding: 0.4rem;
}
.book-card th {
  width: 24%;
  font-family: "Ephesis", cursive;
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: bold;
  border-left: 3px solid black;
  border-right: 3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.book-card th img {
  width: 30px;
  height: 30px;
}
#details-icon {
  width: 30px;
  height: 30px;
}
/* Etiqueta de cada libro */

/* Interfaz de cambiar pagina */
.num-pages {
  width: 100%;
  height: 6.4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.next-icon,
.previous-icon {
  margin: 0 1rem;
}
.next-icon:hover,
.previous-icon:hover {
  cursor: pointer;
}
.arrow-order {
  cursor: pointer;
}
.arrow-order:hover {
  width: 32px;
  height: 32px;
}
.arrow-order:active {
  width: 26px;
  height: 26px;
}
/* Interfaz de cambiar pagina */

/* Indicador de pagina actual */
.current-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.current-page p {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
}
/* Indicador de pagina actual */

/* Media Queries */
@media (max-width: 980px) {
  .book-card td {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
  .book-card th {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  .book-card th img {
    width: 26px;
    height: 26px;
  }
  .arrow-order:hover {
    width: 28px;
    height: 28px;
  }
  .arrow-order:active {
    width: 22px;
    height: 22px;
  }
}
@media (max-width: 660px) {
  .book-card td {
    font-size: 0.7rem;
    padding: 0.2rem;
    font-weight: bold;
  }
  .book-card th {
    font-size: 1.1rem;
    letter-spacing: 2px;
  }
  .book-card th img {
    width: 20px;
    height: 20px;
  }
  .arrow-order:hover {
    width: 22px;
    height: 22px;
  }
  .arrow-order:active {
    width: 16px;
    height: 16px;
  }
  #details-icon {
    width: 26px;
    height: 26px;
  }
}
@media (max-width: 500px) {
  .book-card td {
    font-size: 0.6rem;
    padding: 0.1rem;
    font-weight: bold;
  }
  .book-card th {
    font-size: 1rem;
    letter-spacing: 2px;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .book-card th img {
    width: 18px;
    height: 18px;
  }
  .arrow-order:hover {
    width: 20px;
    height: 20px;
  }
  .arrow-order:active {
    width: 14px;
    height: 14px;
  }
  #details-icon {
    width: 23px;
    height: 23px;
  }
}
@media (max-width: 500px) {
  .book-card td {
    font-size: 0.6rem;
    padding: 0.1rem;
    font-weight: bold;
  }
  .book-card th {
    font-size: 1.1rem;
    letter-spacing: 2px;
    border: none;
  }
  .book-card th img {
    width: 17px;
    height: 17px;
  }
  .arrow-order:hover {
    width: 19px;
    height: 19px;
  }
  .arrow-order:active {
    width: 13px;
    height: 13px;
  }
  #details-icon {
    width: 22px;
    height: 22px;
  }
}
/* Media Queries */
