.list-books {
  grid-column: 1 / 9;
  grid-row: 3 / 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0.6rem;
}

.book-table {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.book-table thead {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.book-table tbody {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.book-card {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(232, 247, 242, 0.7);
}
.book-card td {
  width: 25%;
  font-size: 1.1rem;
  font-family: "Roboto Mono", monospace;
  padding: 0.4rem;
}
.book-card th {
  width: 24%;
  font-family: "Ephesis", cursive;
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: bold;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.num-pages {
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.next-icon,
.previous-icon {
  margin: 0 1rem;
}
.next-icon:hover,
.previous-icon:hover {
  cursor: pointer;
}
