.edit-review {
  grid-column: 1 / 6;
  grid-row: 3 / 7;
  display: flex;
  background-color: rgb(255, 255, 255, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.edit-review h1 {
  font-size: 2.4rem;
  font-family: "Ephesis", cursive;
  letter-spacing: 3px;
  color: black;
}
.edit-review form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 100%;
}
.edit-review form label {
  font-size: 1rem;
  color: black;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 2px;
}
#text_review {
  width: 70vw;
  height: 20vh;
  resize: none;
}
#valoration {
  font-size: 1rem;
}
/* Estilemos este componente */
