.search-list {
  grid-column: 1 / 6;
  grid-row: 2 / 8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);

  background-color: rgb(255, 255, 255, 0.6);
  color: black;
}
.main-title {
  grid-column: 3 / 7;
  grid-row: 1/ 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  letter-spacing: 3px;
  font-family: "Ephesis", cursive;
  padding: 0.4rem;
  margin: 0.2rem;
  background-color: rgb(255, 254, 173);
  border-radius: 50%;
  border: 2px solid black;
}
