.myactivity-main .books-main .list-of-books #a-book {
  padding: 0.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border: 1px solid black;
}
.myactivity-main .books-main .list-of-books #a-book:hover {
  cursor: pointer;
  background-color: rgb(186, 225, 243);
  outline: 2px solid black;
}
.myactivity-main .books-main .list-of-books #a-book:active {
  background-color: rgb(175, 238, 167);
}
.myactivity-main .books-main .list-of-books #a-book h3 {
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}
.myactivity-main .books-main .list-of-books #a-book p {
  font-size: 0.7rem;
  font-family: "Roboto Mono", monospace;
}

@media (max-width: 980px) {
  .myactivity-main .books-main .list-of-books #a-book h3 {
    font-size: 0.9rem;
  }
  .myactivity-main .books-main .list-of-books #a-book p {
    font-size: 0.6rem;
  }
}
@media (max-width: 660px) {
  .myactivity-main .books-main .list-of-books #a-book h3 {
    font-size: 0.8rem;
  }
  .myactivity-main .books-main .list-of-books #a-book p {
    font-size: 0.5rem;
  }
}
@media (max-width: 500px) {
  .myactivity-main .books-main .list-of-books #a-book h3 {
    font-size: 0.7rem;
  }
  .myactivity-main .books-main .list-of-books #a-book p {
    font-size: 0.4rem;
  }
}
@media (max-width: 440px) {
  .myactivity-main .books-main .list-of-books #a-book h3 {
    font-size: 0.6rem;
  }
}
