.confirm-sign-btn {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  background-color: rgb(231, 230, 142);
  padding: 0.2rem;
  border-radius: 0.8rem;
  border: 1px solid black;
}
.confirm-sign-btn:hover {
  cursor: pointer;
  background-color: rgb(231, 229, 110);
  letter-spacing: 1px;

  outline: 2px solid black;
}
.confirm-sign-btn:active {
  background-color: rgb(197, 245, 108);
}

.confirm-search-btn {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 2px;
  background-color: rgb(231, 230, 142);
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 0.8rem;
  border: 1px solid black;
  min-width: 14vw;
}
.confirm-search-btn:hover {
  cursor: pointer;
  background-color: rgb(231, 229, 110);
  letter-spacing: 3px;

  outline: 2px solid black;
}
.confirm-search-btn:active {
  background-color: rgb(197, 245, 108);
}
