.myactivity-main .review-main .list-of-reviews #a-review {
  padding: 0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border: 1px solid black;
}
.myactivity-main .review-main .list-of-reviews #a-review:hover {
  cursor: pointer;
  background-color: rgb(243, 238, 167);
  outline: 2px solid black;
}
.myactivity-main .review-main .list-of-reviews #a-review:active {
  background-color: rgb(175, 238, 167);
}
.myactivity-main .review-main .list-of-reviews #a-review h3 {
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}
.myactivity-main .review-main .list-of-reviews #a-review p {
  font-size: 0.7rem;
  font-family: "Roboto Mono", monospace;
}

@media (max-width: 980px) {
  .myactivity-main .review-main .list-of-reviews #a-review h3 {
    font-size: 0.9rem;
  }
  .myactivity-main .review-main .list-of-reviews #a-review p {
    font-size: 0.6rem;
  }
}
@media (max-width: 660px) {
  .myactivity-main .review-main .list-of-reviews #a-review h3 {
    font-size: 0.8rem;
  }
  .myactivity-main .review-main .list-of-reviews #a-review p {
    font-size: 0.5rem;
  }
}
@media (max-width: 500px) {
  .myactivity-main .review-main .list-of-reviews #a-review h3 {
    font-size: 0.7rem;
  }
  .myactivity-main .review-main .list-of-reviews #a-review p {
    font-size: 0.4rem;
  }
}
@media (max-width: 40px) {
  .myactivity-main .review-main .list-of-reviews #a-review h3 {
    font-size: 0.6rem;
  }
}
