.form-div {
  grid-column: 1 / 9;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.form-div label {
  min-width: 24vw;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Roboto Mono", monospace;
  padding: 0.4rem;
}

#input-title {
  min-width: 28vw;
  height: 4.5vh;
  border: 3px solid black;
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
  padding: 0.4rem;
}
