/* Estilo general del Header */
.header-no-logged,
.header-logged {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
/* Estilo general del Header */

/* Título y Logo de la App */
.title-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem;
  width: 36%;
}
.title-logo h1 {
  font-size: 2.2rem;
  letter-spacing: 4px;
  font-family: "Ephesis", cursive;
  margin: 0.5rem;
}
.title-logo img {
  margin: 0.4rem;
  width: 45px;
  height: 45px;
}
/* Título y Logo de la App */

/* Botón añadir libro COMIENZO */

.add-book-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.4rem;
  height: 100%;
  width: 22%;
  gap: 0.6rem;
}
.add-book-btn a {
  padding: 0.2rem;
}
.add-book-btn a img {
  width: 55px;
  height: 55px;
}
.add-book-btn a img:hover {
  width: 58px;
  height: 58px;
}
.add-book-btn h2 {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
}
/* Botón añadir libro FIN */

/* Botones del Header */
.session-btns {
  height: 100%;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  padding: 0.6rem;
}

.signin {
  background-color: transparent;
  font-size: 1.2rem;
  color: white;
  font-family: "Roboto Mono", monospace;
  border: 2px solid white;
  border-radius: 0.8rem;
  padding: 0.2rem;
  transition: 0.1s;
}
.signin:hover {
  font-weight: bold;
  border: 2px solid #d3a106;
  background-color: rgb(34, 34, 34);
}
.signin:active {
  background-color: rgb(4, 112, 103);
}

.signup {
  background-color: transparent;
  font-size: 1.2rem;
  color: white;
  font-family: "Roboto Mono", monospace;
  border: 2px solid white;
  border-radius: 0.8rem;
  padding: 0.2rem;
  transition: 0.1s;
}
.signup:hover {
  font-weight: bold;
  border: 2px solid #d3a106;
  background-color: rgb(34, 34, 34);
}
.signup:active {
  background-color: rgb(4, 112, 103);
}
/* Botones del Header */

/* Media Queries */
@media (max-width: 980px) {
  /* Logo y titulo Home */
  .title-logo {
    width: 40%;
    padding: 0.2rem;
  }
  .title-logo h1 {
    font-size: 1.9rem;
    letter-spacing: 1px;
  }
  /* Logo y titulo Home */

  /* Añadir Libro */
  .add-book-btn {
    padding: 0.3rem;
    width: 26%;
    gap: 0.4rem;
  }
  .add-book-btn a img {
    width: 50px;
    height: 50px;
  }
  .add-book-btn a img:hover {
    width: 53px;
    height: 53px;
  }
  .add-book-btn h2 {
    font-size: 1rem;
  }
  /* Añadir Libro */

  /* Botones de sesión */
  .session-btns {
    width: 25%;
  }
  .signin {
    font-size: 0.9rem;
  }
  .signup {
    font-size: 0.9rem;
  }
  /* Botones de sesión */
}
@media (max-width: 660px) {
  /* Logo y titulo Home */
  .title-logo {
    width: 35%;
  }
  .title-logo h1 {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
  /* Logo y titulo Home */

  /* Añadir Libro */
  .add-book-btn {
    width: 32%;
    padding: 0.3rem;
  }
  .add-book-btn a img {
    width: 45px;
    height: 45px;
  }
  .add-book-btn a img:hover {
    width: 48px;
    height: 48px;
  }
  .add-book-btn h2 {
    font-size: 0.8rem;
  }
  /* Añadir Libro */

  /* Botones de sesión */
  .session-btns {
    width: 30%;
  }
  .signin {
    font-size: 0.7rem;
  }
  .signup {
    font-size: 0.7rem;
  }
  /* Botones de sesión */
}
@media (max-width: 500px) {
  /* Logo y titulo Home */
  .title-logo h1 {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }
  /* Logo y titulo Home */

  /* Añadir Libro */
  .add-book-btn {
    justify-content: center;
    padding: 0.3rem;
    gap: 0.2rem;
  }
  .add-book-btn a img {
    width: 35px;
    height: 35px;
  }
  .add-book-btn a img:hover {
    width: 43px;
    height: 43px;
  }
  .add-book-btn h2 {
    font-size: 0.7rem;
  }
  /* Añadir Libro */

  /* Botones de sesión */
  .session-btns {
    width: 26vw;
  }
  .signin {
    font-size: 0.6rem;
  }
  .signup {
    font-size: 0.6rem;
  }
  /* Botones de sesión */
}
@media (max-width: 440px) {
  /* Div principal header */
  .header-logged {
    grid-column: 1 / 6;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .header-no-logged {
    grid-column: 1 / 6;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  /* Div principal header */

  /* Logo y titulo Home */
  .title-logo {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
  }
  .title-logo h1 {
    font-size: 1.1rem;
    letter-spacing: 2px;
  }
  .title-logo img {
    width: 30px;
    height: 30px;
  }
  /* Logo y titulo Home */

  .add-book-btn {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.2rem;
    height: 50%;
    gap: 0.2rem;
  }

  /* Botones de sesión */
  .session-btns {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding: 0.2rem;
  }
  .signin {
    font-size: 0.7rem;
  }
  .signup {
    font-size: 0.7rem;
  }
  /* Botones de sesión */
}
/* Media Queries */
