.reviews-main {
  width: 80%;
  background-color: rgb(248, 248, 225);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  overflow-y: auto;
  border: 3px solid rgb(48, 41, 10);
  margin: 10vh auto;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.reviews-main h1 {
  font-size: 2.6rem;
  font-family: "Ephesis", cursive;
  letter-spacing: 3px;
}

#reviews-close {
  width: 100%;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.4rem;
}
#reviews-close img {
  width: 30px;
  height: 30px;
}
#reviews-close img:hover {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.review-ind {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.1rem;
  gap: 0.4rem;
  border: 2px solid black;
  border-radius: 12px;
}
.review-ind h2 {
  width: 75%;
  font-size: 1rem;
}

#review-user-data {
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.2rem;
  border-left: 2px solid black;
}
#review-user-data p {
  font-size: 0.8rem;
}

#review-value {
  gap: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#review-value p {
  font-size: 1.2rem;
}

@media (max-width: 980px) {
  .reviews-main h1 {
    font-size: 2.4rem;
  }

  #reviews-close img {
    width: 28px;
    height: 28px;
  }
  #reviews-close img:hover {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 660px) {
  .reviews-main h1 {
    font-size: 2.2rem;
  }

  #reviews-close img {
    width: 26px;
    height: 26px;
  }
  #reviews-close img:hover {
    width: 28px;
    height: 28px;
  }
  #review-value p {
    font-size: 1.1rem;
  }
  #review-user-data p {
    font-size: 0.7rem;
  }
  .review-ind h2 {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  .reviews-main {
    width: 90%;
    padding: 1.4rem;
  }
  .reviews-main h1 {
    font-size: 2.1rem;
  }

  #reviews-close img {
    width: 24px;
    height: 24px;
  }
  #reviews-close img:hover {
    width: 26px;
    height: 26px;
  }
  #review-value p {
    font-size: 1.1rem;
  }
  #review-user-data {
    width: 12%;
  }
  #review-user-data p {
    font-size: 0.7rem;
  }
  .review-ind h2 {
    width: 70%;
    font-size: 0.8rem;
  }
}
@media (max-width: 440px) {
  .reviews-main {
    width: 95%;
    padding: 1.2rem;
  }
  .reviews-main h1 {
    font-size: 2rem;
  }
  #review-value p {
    font-size: 1rem;
  }
  #review-user-data {
    width: 12%;
  }
  #review-user-data p {
    font-size: 0.7rem;
  }
  .review-ind h2 {
    width: 68%;
    font-size: 0.7rem;
  }
}
