.reviews-main {
  width: 70%;
  background-color: rgb(248, 248, 225, 0.9);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  border: 3px solid rgb(48, 41, 10);
  margin: 10vh auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.review-ind {
}
