.edit-book {
  grid-column: 1 / 6;
  grid-row: 2 / 8;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
  padding: 1rem;
}
.edit-book h1 {
  font-size: 2.6rem;
  letter-spacing: 4px;
  font-family: "Ephesis", cursive;
}
.edit-book-form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  height: 100%;
}
#title-book {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;
  font-family: "Roboto Mono", monospace;
}
#title-book label {
  font-size: 1.3rem;
  letter-spacing: 2px;
}
#title-book input {
  width: 65%;
  height: 3.4vh;
  font-size: 1.2rem;
  text-align: center;
}

#autor-book {
  grid-row: 1 / 2;
  grid-column: 4 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;
  font-family: "Roboto Mono", monospace;
}
#autor-book label {
  font-size: 1.3rem;
  letter-spacing: 2px;
}
#autor-book input {
  width: 65%;
  height: 3.4vh;
  font-size: 1.2rem;
  text-align: center;
}

#category-book {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 90%;
  font-family: "Roboto Mono", monospace;
}
#category-book label {
  font-size: 1.3rem;
  letter-spacing: 2px;
}
#category-book select {
  font-size: 1rem;
}

#description-book {
  grid-row: 3 / 6;
  grid-column: 2 / 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 90%;
  font-family: "Roboto Mono", monospace;
}
#description-book label {
  font-size: 1.3rem;
  letter-spacing: 2px;
  width: 100%;
  height: 15%;
}
#description-book textarea {
  width: 100%;
  height: 85%;
  border: 2px solid black;
  resize: none;
  font-size: 1rem;
}

#submit-book {
  grid-row: 6 / 7;
  grid-column: 1 / 6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 980px) {
  #title-book input {
    width: 75%;
    font-size: 1rem;
  }
  #autor-book input {
    width: 75%;
    font-size: 1rem;
  }
}
@media (max-width: 660px) {
  #title-book label {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  #title-book input {
    width: 95%;
    font-size: 0.8rem;
    height: 3vh;
  }
  #autor-book label {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  #autor-book input {
    width: 95%;
    font-size: 0.8rem;
    height: 3vh;
  }
  #description-book label {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  #description-book textarea {
    font-size: 0.8rem;
  }
  #category-book {
    width: 90%;
    grid-row: 2 / 3;
    grid-column: 2 / 5;
  }
  #category-book label {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  #category-book select {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  .edit-book h1 {
    font-size: 2.3rem;
    letter-spacing: 3px;
  }
  #title-book label {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  #title-book input {
    width: 95%;
    font-size: 0.7rem;
    height: 3vh;
  }
  #autor-book label {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  #autor-book input {
    width: 95%;
    font-size: 0.7rem;
    height: 3vh;
  }
  #description-book {
    grid-row: 3 / 6;
    grid-column: 1 / 6;
    width: 95%;
    height: 100%;
  }
  #description-book label {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  #description-book textarea {
    font-size: 0.7rem;
  }
  #category-book {
    width: 90%;
  }
  #category-book label {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  #category-book select {
    font-size: 0.7rem;
  }
}
@media (max-width: 440px) {
  .edit-book {
    grid-column: 1 / 6;
    grid-row: 3 / 8;
  }
  .edit-book h1 {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  #title-book label {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  #title-book input {
    width: 100%;
    font-size: 0.7rem;
    height: 3vh;
  }
  #autor-book label {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  #autor-book input {
    width: 100%;
    font-size: 0.7rem;
    height: 3vh;
  }
  #description-book {
    grid-row: 3 / 6;
    grid-column: 1 / 6;
    width: 95%;
    height: 100%;
  }
  #description-book label {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  #description-book textarea {
    font-size: 0.7rem;
  }
  #category-book {
    width: 100%;
  }
  #category-book label {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  #category-book select {
    font-size: 0.7rem;
  }
}
